{% extends 'base.html' %}

{% block title %}À propos{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2 class="mb-4">À propos de nous</h2>
            <p><strong>Nom:</strong> KAMGUE Luc Duplex</p>
            <p><strong>Email:</strong> <a href="mailto:lucduplex@outlook.com">lucduplex@outlook.com</a></p>
            <p><strong>Cell:</strong> 514-946-7048</p>
        </div>
    </div>
</div>
{% endblock %}
